* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.header {
    height: 12vh;
    width: 100%;
    padding-left: 12%;
    padding-bottom: 10px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;   
}

.logo {
    width: 18%;
    height: 29%;
    color: white;
    display: flex;
    flex-direction: row;
}

.nav-bar {
    margin-top: 20px;
    width: 90%;
    height: 40%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    margin-right: 20px;
}

.navigation{
    display: flex;
    justify-content: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 100px;
    width: 40%;
    height: 100%;
    background-color: black;    
}

.more-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11px;
    width: 30%;
    height: 100%;
    background-color: black;  
    margin-top: 10px; 
}

.image-box {
    width: 100vw;
    height: 70vh;
}

.main-image {
    width: 100vw;
    height: 70vh;
}

footer{
    /* opacity: 0.5; */
    height: 20vh;
    width: 100%;    
    display: flex;
    flex-direction:row;
    justify-content: center;
    background-color: black;
}

.footer-tag{
    font-size: 30px;
    color: white;

}